@font-face {
    font-family: Calculator;
    src: url(./assets/Calculator.ttf);
}

@keyframes click {
    from {
        transform: translate(0, 0);
        box-shadow: 4px 4px black;
    }
    to {
        transform: translate(3px, 3px);
        box-shadow: 0px 0px black;
    }
}

.click {
    animation: 0.15s click ease-out 2 alternate;
}

body {
    background-color: rgb(179, 246, 255);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

header {
    width: 100%;
    min-height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#textbox {
    max-width: 800px;
    width: 80%;
    font-size: 24px;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
}

main {
    min-height: 470px;
}

#calculator {
    width: 350px;
    height: 400px;
    margin: auto;

    background-color: rgb(84, 84, 84);

    border-radius: 25px;
    box-shadow: 10px 10px rgb(55, 55, 55);

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

#display {  
    padding: 0 10px;
    box-sizing: border-box;

    background: rgb(156, 202, 156);
    border-radius: 5px;
    box-shadow: inset 5px 5px rgb(55, 55, 55);

    font-size: 48px;
    font-family: Calculator, 'Courier New', Courier, monospace;
    font-weight: bold;
    letter-spacing: 3px;

    display: flex;
    align-items: center;
    justify-content: flex-end;

    width: 85%;
    height: 70px;
}

#buttons {
    width: 85%;
    display: flex;
    justify-content: space-between;
    user-select: none;
}

#numbers, #operators {
    display: flex;
    flex-wrap: wrap-reverse;
    gap: 12px;
}

#numbers {
    width: 60%;
}

#operators {
    width: 40%;
    justify-content: flex-end;
}

#buttons button {
    font-size: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    
    width: 50px;
    height: 50px;
    box-shadow: 4px 4px black;
    
    border-style: outset;
    border: none;
    border-radius: 5px;
}

#numbers button {
    color: white;
    background-color: grey;
}

#operators button:not(#delete, #clear) {
    color: black;
    background-color: white;
}

#delete, #clear {   
    color: white;
    background-color: red;
}

footer {
    font-family: 'Courier New', Courier, monospace;
}